/* animations */

@keyframes spinoffFade {
    0% {transform:rotate(0deg); }
    50% {transform:rotate(180deg); opacity:0.2; }
	100% {transform:rotate(360deg); }
}

@keyframes spinoffDark {
	0% {transform:translateY(0); }
	50% {transform:translateY(40%) }
	100% {transform:translateY(0); }
}

@keyframes spinoffLight {
	0% {transform:translateY(0); }
	50% {transform:translateY(20%) }
	100% {transform:translateY(0); }
}

@keyframes earth {
	0% {transform:translateY(0); }
	50% {transform:translateY(20px) }
	100% {transform:translateY(0); }
}

@keyframes radio-pulse {
	0% {transform:translateY(0); }
	50% {transform:translateY(20px); opacity:0.2; }
	100% {transform:translateY(0); }
}

@keyframes tower2-pulse {
	0% {transform:translateY(0); opacity:0.6;}
	50% {transform:translateY(20px); opacity:0.2; }
	100% {transform:translateY(0); opacity:0.6;}
}

@keyframes swinging{
	0%{transform: rotate(0);}
	30%{transform: rotate(-5deg);}
	60%{transform: rotate(7deg);}
	100%{transform: rotate(0);}
}

/* end of animations */


/* style: */
body{
	margin: 0;
	padding: 0;
}

.background {
	background-image:url("Images/bgfill.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.topcontent {
	display: flex;
	justify-content: space-between;
}

.topcontent img {
	width: 50%;
	margin-left: 20px;
	margin-top: 20px;
}

.topcontent .navbar ul {
	padding-right: 15px;
	padding-top: 15px;
}

.topcontent .navbar ul li {
	display: inline;
	text-transform: capitalize;
	padding: 5px 15px;
	font-size: 14px;
}

 a {
	text-decoration: none;
	 color: #17ffff;
}

h2 {
	 color: #ff4081;
	 text-transform: uppercase;
	 position: absolute;
	 left: 8%;
	 top: 30%;
	 font-weight: bold;
	 line-height: 1.5em;
 }

 span {
	 text-transform: lowercase;
 }

#fade {
	width: 20%;
	position: absolute;
	bottom: -15%;
	left: -3%;
	opacity: 1;
	animation: spinoffFade 3s infinite linear;
}

#circle-dark {
	width: 12%;
	position: absolute;
	bottom: -7%;
	left: 4%;
	animation: spinoffDark 5s infinite linear;
}

 #circle-light {
	width: 10%;
	position: absolute;
	bottom: -7%;
	left: 10%;
	animation: spinoffLight 7s infinite linear;
}

#earth {
	width: 23%;
	position: absolute;
	bottom: 0;
	z-index: 3;
	left: 60%;
	animation: earth 3s infinite ease-in-out;
}

#radio-pulse {
	width: 5%;
	position: absolute;
	left: 68.8%;
	top: 13%;
	animation: radio-pulse 3s infinite ease-in-out;
}

#tower-pulse {
	width: 80%;
	position: absolute;
	left: 31%;
	top: -78%;
	animation: radio-pulse 3s infinite ease-in-out;
}

#tower2-pulse {
	width: 195%;
	position: absolute;
	right: -68%;
	bottom: -80%;
	animation: tower2-pulse 3s infinite ease-in-out;
}

#tower-fade {
	width: 10%;
	position: absolute;
	left: 35%;
	bottom: -5%;
	animation: spinoffFade 4s infinite linear;
}

#tower-fade2 {
	width: 15%;
	position: absolute;
	left: 75%;
	bottom: -8%;
	animation: spinoffFade 5s infinite linear;
}

#tower-fade3 {
	width: 20%;
	position: absolute;
	left: 95%;
	bottom: -10%;
	animation: spinoffFade 4s infinite linear;
}

#tower-fade4 {
	width: 20%;
	position: absolute;
	left: 50%;
	bottom: -20%;
	animation: spinoffFade 6s infinite linear;
}

#circle-dark2 {
	width: 15%;
	position: absolute;
	bottom: -12%;
	left: 75%;
	z-index: 5555;
	animation: spinoffDark 7s infinite linear;
}

#circle-light2 {
	width: 15%;
	position: absolute;
	bottom: -7%;
	left: 90%;
	z-index: 5555;
	animation: spinoffDark 6s infinite linear;
}

#circle-light3 {
	width: 10%;
	position: absolute;
	bottom: -2%;
	left: 85%;
	z-index: 5545;
	animation: spinoffDark 7.5s infinite linear;
}

#circle-dark3 {
	width: 10%;
	position: absolute;
	bottom: -2%;
	left: 70%;
	z-index: 5555;
	animation: spinoffDark 6.5s infinite linear;
}

#circle-dark4 {
	width: 7%;
	position: absolute;
	bottom: 12%;
	left: 90%;
	animation: spinoffDark 6.5s infinite linear;
}

#circle-light4 {
	width: 12%;
	position: absolute;
	bottom: -2%;
	left: 63%;
	animation: spinoffDark 4.5s infinite linear;
}

#circle-light5 {
	width: 10%;
	position: absolute;
	bottom: -5%;
	left: 57%;
	z-index: 2;
	animation: spinoffDark 5.5s infinite linear;
}

#circle-light6 {
	width: 11%;
	position: absolute;
	bottom: -7%;
	left: 50%;
	animation: spinoffDark 5s infinite linear;
}

#circle-dark5 {
	width: 10%;
	position: absolute;
	bottom: -6%;
	left: 38%;
	z-index: 2;
	animation: spinoffDark 8s infinite linear;
}

#leaf, #leaf1, #leaf3, #leaf4  {
	position: absolute;
	width: 3%;
	bottom: -6%;
	left: 48%;
	animation: swinging 4s ease-in-out forwards infinite;
}

#leaf {
	left: 46%;
}

#leaf2 {
	position: absolute;
	width: 5%;
	bottom: -1%;
	left: 48%;
}

#leaf3 {
	left: 85%;
	z-index: 666666;
}

#leaf4 {
	left: 30%;
}

#flag {
	width: 2%;
	position: absolute;
	left: 75%;
	top: 31%;
	animation: radio-pulse 3s infinite ease-in-out;
}

/* end of style */





